 body {
  background-image: radial-gradient(circle, rgb(205, 33, 33), rgb(212, 39, 39), rgb(217, 14, 14));
  background-repeat: no-repeat

 }
.cards-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 65rem;
  gap: 1rem;
  text-align: center;
  
}

.notFound{
  font-size: 25px;
  border:solid;
  border-color: aqua;
  display: flex;
  justify-content: center
}

.bg {
 background: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.image-structure {
  max-width: 50vh; 
  height: 60vh
}